<section >
    <div class="flex min-h-screen items-center justify-center bg-neutral-950">
        <div class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
            <div
                class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30 mt-20 md:mt-0 xl:mt-0">
                <div class="h-96 w-72">
                    <img class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
                        src="https://notsteven4000.github.io/CoolGlassesWeb/img/GAFAS1.jpg" alt="" />
                </div>
                <div
                    class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70">
                </div>
                <div
                    class="absolute inset-0 flex translate-y-[60%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
                    <h1 class="font-dmserif text-3xl font-bold text-white">Caballeros</h1>
                    <p
                        class="mb-3 text-lg italic text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                        Descubre nuestra colección de lentes para hombres. Desde clásicos atemporales hasta diseños
                        modernos,
                        que complementará tu estilo único y te brindará una visión nítida y cómoda en cada momento
                        del día.
                    </p>
                    <a routerLink="/hombres" (click)="redirectAndScrollToTop('/hombres')"
                        class="rounded-full bg-neutral-700 py-2 px-3.5 font-com text-sm capitalize text-white shadow shadow-black/60">Ver
                        Mas
                    </a>
                </div>
            </div>
            <div
                class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30">
                <div class="h-96 w-72">
                    <img class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
                        src="https://notsteven4000.github.io/CoolGlassesWeb/img/GAFAS2.jpg" alt="" />
                </div>
                <div
                    class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70">
                </div>
                <div
                    class="absolute inset-0 flex translate-y-[60%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
                    <h1 class="font-dmserif text-3xl font-bold text-white">Damas</h1>
                    <p
                        class="mb-3 text-lg italic text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                        La elegancia crea una experiencia de visión incomparable. Monturas sofisticadas hasta
                        diseños vanguardistas,
                        ha sido cuidadosamente seleccionado para la belleza y confianza de la mujer moderna.
                    </p>
                    <a routerLink="/mujeres" (click)="redirectAndScrollToTop('/mujeres')"
                        class="rounded-full bg-neutral-700 py-2 px-3.5 font-com text-sm capitalize text-white shadow shadow-black/60">Ver
                        Mas
                    </a>
                </div>
            </div>
            <div
                class="group relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30 mb-20 md:mb-0 xl:mb-0">
                <div class="h-96 w-72">
                    <img class="h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125"
                        src="https://notsteven4000.github.io/CoolGlassesWeb/img/GAFAS3.jpg" alt="" />
                </div>
                <div
                    class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black group-hover:from-black/70 group-hover:via-black/60 group-hover:to-black/70">
                </div>
                <div
                    class="absolute inset-0 flex translate-y-[60%] flex-col items-center justify-center px-9 text-center transition-all duration-500 group-hover:translate-y-0">
                    <h1 class="font-dmserif text-3xl font-bold text-white">Niños y Niñas</h1>
                    <p
                        class="mb-3 text-lg italic text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                        Nos preocupamos por la visión de los más pequeños tanto como tú. Para los pequeños se ofrece
                        una visión clara y cómoda,
                        con una variedad de estilos y colores divertidos que harán emocionante y agradable para tus
                        hijos.
                    </p>
                    <a routerLink="/ninos" (click)="redirectAndScrollToTop('/ninos')"
                        class="rounded-full bg-neutral-700 py-2 px-3.5 font-com text-sm capitalize text-white shadow shadow-black/60">Ver
                        Mas
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>