/* sidebar.component.css */
:root {
    --bg-color: #673ab7;
  }
  
  .dark {
    --bg-color: #333;
  }
  
  button.selected {
    border: 2px solid var(--bg-color);
  }
  
  body {
    transition: background-color 0.3s;
    background-color: var(--bg-color);
  }
  