<app-nav-bar ></app-nav-bar>
<div class=" text-white animated fadeIn ">
    <section class="flex justify-center mt-40 mx-10">
        <div class="w-full lg:w-3/4">
            <details class="group py-8 [&_summary::-webkit-details-marker]:hidden" open>
                <summary class="flex cursor-pointer items-center justify-between text-gray-900">
                    <h2 class="text-lg font-medium">¿Quiénes somos?</h2>
                    <span class="relative size-5 shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </span>
                </summary>

                <p class="mt-4 leading-relaxed text-gray-700">
                    En Cool Glasses Shop, nos dedicamos a ofrecer una experiencia excepcional en el mundo de la
                    óptica y la moda. Somos más que una simple tienda de lentes; somos un destino para
                    aquellos que buscan la combinación perfecta de estilo, calidad y cuidado visual.
                </p>
            </details>

            <details class="group py-8 [&_summary::-webkit-details-marker]:hidden">
                <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                    <h2 class="text-lg font-medium">Misión</h2>

                    <span class="relative size-5 shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </span>
                </summary>

                <p class="mt-4 leading-relaxed text-gray-700">
                    Nuestra misión es proporcionar a nuestros clientes lentes de alta calidad que no solo
                    mejoren su visión, sino que también reflejen su estilo y personalidad únicos. Nos
                    comprometemos a ofrecer una experiencia de compra excepcional,
                    brindando asesoramiento experto y productos de vanguardia que superen las expectativas de
                    nuestros clientes.
                </p>
            </details>

            <details class="group py-8 [&_summary::-webkit-details-marker]:hidden">
                <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                    <h2 class="text-lg font-medium">Visión</h2>

                    <span class="relative size-5 shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </span>
                </summary>

                <p class="mt-4 leading-relaxed text-gray-700">
                    Nuestra visión es ser reconocidos como líderes en el mercado de lentes, destacándonos por
                    nuestra innovación, calidad y compromiso con la satisfacción del cliente. Nos esforzamos por
                    ser un referente en la industria de la moda y
                    el cuidado de la vista, ofreciendo productos y servicios que inspiren confianza y estilo en
                    nuestros clientes.
                </p>
            </details>

            <details class="group py-8 [&_summary::-webkit-details-marker]:hidden">
                <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900">
                    <h2 class="text-lg font-medium">Historia</h2>

                    <span class="relative size-5 shrink-0">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </span>
                </summary>

                <p class="mt-4 leading-relaxed text-gray-700">
                    Desde nuestra fundación en 2015, en Ecuador, hemos estado comprometidos con la excelencia en
                    cada aspecto de nuestro negocio. Comenzamos como una pequeña tienda con una visión clara:
                    ofrecer lentes de alta calidad que fueran accesibles para todos. Con el tiempo, hemos
                    crecido y evolucionado, expandiendo nuestra oferta de productos y servicios para satisfacer
                    las necesidades cambiantes de nuestros clientes.
                    Hoy, Cool Glasses Shop es un destino de referencia para aquellos que buscan lo mejor en moda
                    y cuidado visual. Nuestra reputación se basa en nuestra dedicación a la calidad, la
                    innovación y el servicio al cliente. Seguimos comprometidos con nuestros valores
                    fundacionales mientras continuamos creciendo y sirviendo a nuestra comunidad con pasión y
                    compromiso.
                </p>
            </details>
        </div>
    </section>
</div>
<app-footer></app-footer>
