<div class="md:mb-36 mb-28">
  <app-nav-bar></app-nav-bar>
</div>

<div class="animated fadeIn mx-5 md:mx-24" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
  <div class="container mx-auto px-4 md:px-6 2xl:px-0 py-12">
    <div class="flex flex-col justify-start items-center">
      <div class="mt-3">
        <h1 *ngIf="favoriteItems.length > 0"
          class="text-3xl lg:text-4xl tracking-tight font-bold leading-8 lg:leading-9 text-gray-800 ">Mi lista de
          Favoritos</h1>
      </div>
      <div *ngIf="favoriteItems.length === 0" class="pt-16">
        <h2 class="text-2xl font-bold mb-4 text-center">No se encontraron productos en tu lista de favoritos</h2>
        <h3 class="text-md font-semibold mb-4 text-center">Navegue por nuestro sitio y agregue productos que te gusten.
        </h3>
      </div>

      <div class="mt-4" *ngIf="favoriteItems.length > 0">
        <p class="text-2xl tracking-tight leading-6 text-gray-600 dark:text-black">{{ favoriteItems.length }} productos
          agregados</p>
      </div>
      <div class="mt-10 lg:mt-12 grid grid-cols-1 lg:grid-cols-3 gap-x-8 gap-y-10 lg:gap-y-0">
        <div *ngFor="let item of favoriteItems" class="flex flex-col  mb-8 ">
          <div class="relative ">

            <img class="hidden lg:block transition-transform transform hover:scale-95 w-96 h-52" [src]="item.imageUrl"
              [alt]="item.name" />
            <img class="hidden sm:block lg:hidden transition-transform transform hover:scale-95" [src]="item.imageUrl"
              [alt]="item.name" />
            <img class="sm:hidden transition-transform transform hover:scale-95" [src]="item.imageUrl"
              [alt]="item.name" />
            <span
              class="absolute top-0 left-0 rounded-full bg-black px-2 text-center text-sm font-medium text-white">{{item.offer}}
              % OFF</span>
            <button aria-label="close" (click)="removeFavorite(item.codUnico)"
              class="top-4 right-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 absolute p-1.5 bg-gray-800 dark:bg-white dark:text-gray-800 text-white hover:text-gray-400">
              <svg class="fill-current" width="14" height="14" viewBox="0 0 14 14" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M1 1L13 13" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
          </div>

          <div class="mt-6 flex justify-between items-center">
            <div class="flex flex-col">
              <p class="tracking-tight text-xs leading-3 text-black dark:text-black font-semibold mb-4">código: <span
                  class="font-mono">{{ item.codUnico }}</span></p>
              <p class="tracking-tight text-md font-bold leading-6 text-gray-800 dark:text-black">{{ item.name }}</p>
            </div>

            <div class="flex justify-center items-center">
              <button aria-label="show menu" (click)="handleClick(true, item.id)"
                class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 py-2.5 px-2 bg-gray-800 dark:bg-white dark:text-gray-800 text-white hover:text-gray-400 hover:bg-gray-200">
                <svg [id]="'chevronUp' + item.id" class="fill-stroke" width="20" height="12" viewBox="0 0 10 6"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 5L5 1L1 5" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <svg [id]="'chevronDown' + item.id" class="hidden fill-stroke" width="20" height="12" viewBox="0 0 10 6"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>
            </div>

          </div>
          <div [id]="'menu' + item.id" class="flex flex-col justify-start items-start mt-8">
            <div>
              <p class="tracking-tight text-xs leading-3 text-black dark:text-black mb-3">Lentes para: <span
                  class="font-semibold">{{ item.genero }}</span></p>
              <p class="tracking-tight text-xs leading-3 text-black dark:text-black mb-3">Categoría: <span
                  class="font-semibold ">{{ item.categoria }}</span></p>
            </div>
            <div>
              <p class="tracking-tight text-xs leading-3 text-black dark:text-black font-semibold ">Descripción: <span
                  class="font-sans">{{ item.description }}</span></p>
            </div>
            <div class="mt-6">
              <span *ngIf="item.offer !== 0" class="text-xl font-bold text-slate-900">${{calcularPD(item.price,
                item.offer)}}</span>
              <span *ngIf="item.offer <= 0" class="text-xl font-bold text-slate-900">${{item.price}}</span>
              <span *ngIf="item.offer !== 0"
                class="text-sm font-bold text-red-500 line-through ml-1">${{item.price}}</span>
            </div>
            <div
              class="flex justify-between flex-col lg:flex-row items-center mt-10 w-full space-y-4 lg:space-y-0 lg:space-x-4 xl:space-x-8">
              <div class="w-full">
                <button *ngIf="item.stock > 0" (click)="agregarAlCarrito(item)"
                  class="focus:outline-none focus:ring-gray-800 focus:ring-offset-2 focus:ring-2 text-white w-full tracking-tight py-4 text-lg leading-4 hover:bg-black bg-gray-900 border border-gray-800 dark:hover:bg-gray-800 dark:hover:text-white">Añadir
                  al carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>