<app-nav-bar ></app-nav-bar>

<div class="animated fadeIn" style="font-weight: 600;">
    <app-header-dinamico></app-header-dinamico>
    <app-cartas-dinamicas-home></app-cartas-dinamicas-home>
    <app-slider3-d></app-slider3-d>
    <app-slider-imagenes></app-slider-imagenes>
    <app-seccion-marcas></app-seccion-marcas>
    <div class="container mx-auto py-28 w-10/12 md:w-10/12">
        <h1 class="sm:text-5xl text-4xl mb-4 font-medium text-center">Mira más allá con nuestras lentes, vive con estilo
            con nuestras gafas.</h1>
    </div>
    <app-galeria-imagenes-home></app-galeria-imagenes-home>
    <app-tarjetas-home></app-tarjetas-home>
</div>
<app-logo-flotante></app-logo-flotante>
<app-footer></app-footer>