<section class="flex justify-center items-center h-screen">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 shadow-2xl">
        <div class="mx-auto max-w-lg">
            <h1 class="text-center text-2xl font-bold text-indigo-800 sm:text-3xl">Cool Glasses</h1>
            <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
                Recupera tu contraseña
            </p>
            <div>
                <div class="mb-0 mt-3 space-y-4 rounded-lg p-4 sm:p-6 lg:p-8">
                    <form *ngIf="!showChangePasswordForm" (ngSubmit)="onSubmitRecoveryEmail()">
                        <p class="text-center text-md font-medium mb-3">Ingresa tu correo electrónico</p>
                        <div class="mb-3">
                            <label for="recoveryEmail" class="sr-only">Correo Electrónico</label>
                            <div class="relative">
                                <input type="email" id="recoveryEmail" [(ngModel)]="recoveryEmail" name="recoveryEmail" class="w-80 rounded-lg border-gray-200 p-4 shadow-sm text-md" placeholder="Ingrese Correo registrado" required />
                            </div>
                        </div>
                        <button type="submit" class="block w-full rounded-lg bg-amber-300 px-5 py-3 text-sm font-medium text-black mt-5">
                            Enviar Código
                        </button>
                    </form>
                    
                    <form *ngIf="showChangePasswordForm" (ngSubmit)="onSubmitChangePassword()">
                        <p class="text-center text-md font-medium mb-3">Ingresa el código y tu nueva contraseña</p>
                        <div class="mb-3">
                            <label for="recoveryCode" class="sr-only">Código de Recuperación</label>
                            <div class="relative">
                                <input type="text" id="recoveryCode" [(ngModel)]="recoveryCode" name="recoveryCode" class="w-full rounded-lg border-gray-200 p-4 shadow-sm text-md" placeholder="Ingrese el código de recuperación" required />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="sr-only">Nueva Contraseña</label>
                            <div class="relative">
                                <input id="newPassword" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" class="w-full rounded-lg border-gray-200 p-4 text-md shadow-sm" placeholder="Ingrese nueva contraseña" required />
                                <button type="button" (click)="togglePasswordVisibility()"  class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                                    <i *ngIf="showPassword" class="fas fa-eye-slash"></i>
                                    <i *ngIf="!showPassword" class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <button type="submit" class="block w-full rounded-lg bg-green-300 px-5 py-3 text-sm font-medium text-black mt-5">
                            Cambiar Contraseña
                        </button>
                    </form>
                    
                    <p class="text-center text-sm font-semibold ">
                        Iniciar Sesión
                        <a class="underline text-blue-500 hover:text-blue-400 font-bold" routerLink="/auth/login"> Aquí</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
