<app-nav-bar></app-nav-bar>
<section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-28 lg:py-20 mt-20">
        <!-- Title -->
        <h2 class="text-center text-3xl font-bold md:text-5xl">Nuestro equipo de desarrollo</h2>
        <p class="mx-auto mb-8 mt-4 text-center text-sm text-gray-500 sm:text-base md:mb-12 lg:mb-16">
            Somos un grupo de apasionados estudiantes universitarios comprometidos con la excelencia. Cada día, nos
            esforzamos por aprender, innovar y superar desafíos para crear soluciones tecnológicas que hagan una
            diferencia. Creemos en el poder del trabajo en equipo y en la magia que ocurre cuando el conocimiento y la
            creatividad se unen. Nuestro objetivo es no solo ser los mejores, sino también inspirar a otros a alcanzar
            su máximo potencial.
        </p>
        <!-- Content -->
        <div
            class="mx-auto grid justify-items-center gap-5 sm:grid-cols-2 md:grid-cols-3 md:gap-8 lg:grid-cols-4 lg:justify-items-stretch">
            <!-- Item -->
            <div
                class="flex max-w-sm flex-col items-center gap-4 rounded-md border border-solid border-gray-300 px-8 py-6 md:max-w-full">
                <img src="https://scontent.fmch1-1.fna.fbcdn.net/v/t1.6435-1/125866370_2777266172546229_1223401564568144360_n.jpg?stp=dst-jpg_p200x200&_nc_cat=100&ccb=1-7&_nc_sid=e4545e&_nc_ohc=TmGRlryGyWUQ7kNvgGUQjD9&_nc_ht=scontent.fmch1-1.fna&oh=00_AYDP1RMCN87Y9mE53sC8lnX-IKUV-vcLpqZ780s-XGqc8A&oe=66D2B7D5" alt="" class="mb-4 inline-block h-52 w-full object-cover" />
                <p class="font-bold">Cristhian Córdova</p>
                <p class="text-sm text-gray-500">Desarrollador Back-end</p>
            </div>
            <!-- Item -->
            <div
                class="flex max-w-sm flex-col items-center gap-4 rounded-md border border-solid border-gray-300 px-8 py-6 md:max-w-full">
                <img src="https://scontent.fmch1-1.fna.fbcdn.net/v/t1.6435-9/109494424_1655666424583618_5673176443079667450_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=53a332&_nc_ohc=EeaiJ5t2U14Q7kNvgGe9shj&_nc_ht=scontent.fmch1-1.fna&oh=00_AYCHb0dN0a-Wcyr3NgaTXCGnj4CtIIZJiDT-4B50dvi5_g&oe=66D29E01" alt="" class="mb-4 inline-block h-52 w-full object-cover" />
                <p class="font-bold">Bryan Guevara</p>
                <p class="text-sm text-gray-500">Desarrollador Front-end</p>
            </div>
            <!-- Item -->
            <div
                class="flex max-w-sm flex-col items-center gap-4 rounded-md border border-solid border-gray-300 px-8 py-6 md:max-w-full">
                <img src="https://scontent.fmch2-1.fna.fbcdn.net/v/t39.30808-6/366264945_6548973328530804_267700297570298741_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGEezl8Dy4YlmSr-V-bUsVvOEZ55qKCdzI4RnnmooJ3Mq5cj2LeY_8rpzzYZ1yeDkTZ2zl_hqQm_0z9b05a8XTH&_nc_ohc=N_IDd1-j4D0Q7kNvgF6pbMJ&_nc_ht=scontent.fmch2-1.fna&oh=00_AYD7lmHgr4OU6Qs-VS9LmkhwuVOyzcKQStfT0hN4yRwh1w&oe=66B9E156" alt="" class="mb-4 inline-block h-52 w-full object-cover" />
                <p class="font-bold">Jeiner Mendieta</p>
                <p class="text-sm text-gray-500 text-center">Administrador de base de datos y seguridad</p>
            </div>
            <!-- Item -->
            <div
                class="flex max-w-sm flex-col items-center gap-4 rounded-md border border-solid border-gray-300 px-8 py-6 md:max-w-full">
                <img src="https://scontent.fmch2-1.fna.fbcdn.net/v/t39.30808-6/271190128_1374658259631883_748006743941625842_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeH1qEjhOYXfRWDGnK8H50J_uD82fiLxkw-4PzZ-IvGTD8LbLAmtZi2TIdcJq9oLwmPvQMkcYLkJ-0vucApfVuF_&_nc_ohc=3FsrjttYuh8Q7kNvgHjh6o3&_nc_ht=scontent.fmch2-1.fna&oh=00_AYDYbygsB9oe_z3N47EL53EEdFXulAWVdtf4lOaeOiBJVg&oe=66B9B1BD" alt="" class="mb-4 inline-block h-52 w-full object-cover" />
                <p class="font-bold">Bryan Guncay</p>
                <p class="text-sm text-gray-500 text-center">Analista y Documentador Desarrollo Front-end</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>