<div class="banner mt-48 mb-48">
    <div class="slider" style="--quantity: 8">
        <div class="item" style="--position: 1"><img
                src="https://st3.depositphotos.com/9880800/15778/i/380/depositphotos_157781790-stock-photo-handsome-man-in-sunglasses.jpg"
                alt=""></div>
        <div class="item" style="--position: 2"><img
                src="https://st3.depositphotos.com/12985790/15779/i/380/depositphotos_157790876-stock-photo-young-woman-in-sunglasses.jpg"
                alt=""></div>
        <div class="item" style="--position: 3"><img
                src="https://st4.depositphotos.com/12985790/20642/i/380/depositphotos_206428698-stock-photo-fashionable-couple-posing-sunglasses-isolated.jpg"
                alt=""></div>
        <div class="item" style="--position: 4"><img
                src="https://st3.depositphotos.com/13194036/16916/i/380/depositphotos_169165660-stock-photo-woman-in-autumn-outfit-and.jpg"
                alt=""></div>
        <div class="item" style="--position: 5"><img
                src="https://st2.depositphotos.com/3584475/7537/i/380/depositphotos_75376703-stock-photo-portrait-of-young-perfect-couple.jpg"
                alt=""></div>
        <div class="item" style="--position: 6"><img
                src="https://st4.depositphotos.com/20363444/26299/i/380/depositphotos_262995086-stock-photo-cheerful-curly-redhead-girl-touching.jpg"
                alt=""></div>
        <div class="item" style="--position: 7"><img
                src="https://static8.depositphotos.com/1192060/999/i/380/depositphotos_9995829-stock-photo-children-wearing-funky-glasses.jpg"
                alt=""></div>
        <div class="item" style="--position: 8"><img
                src="https://st3.depositphotos.com/13184338/15833/i/380/depositphotos_158332210-stock-photo-man-holding-eyeglasses.jpg"
                alt=""></div>
    </div>

    <div class="content">
        <h1 data-content="Cool Glasses">
            Cool Glasses
        </h1>
        <div class="author">
            <h2>Visión y Claridad</h2>
            <p><b>Tecnologia</b></p>
            <p> Super poder en tus gafas, super fluidez en tu vida, lunas ultradinámicas</p>
        </div>
        <div class="model"></div>
    </div>
</div>